# Dependências
node_modules/

# Build
dist/
build/

# Variáveis de ambiente (NUNCA sobe isso!)
.env
.env.local
.env.production

# Prisma
prisma/migrations/ 

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Coverage
coverage/